
.vs/FRI-2Letnik/v15/.suo
.vs/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.class
*.xml
*.svn-base
AiPS1/Naloga2/.svn/wc.db
AiPS1/.idea/workspace.xml
RG/Kolokviji-Izpit/Predavanja/Izročki 02 - Bezier.pdf
RG/Kolokviji-Izpit/Predavanja/L1-vectors&matrices.pdf
RG/Kolokviji-Izpit/Predavanja/L11-scenegraphs.pdf
RG/Kolokviji-Izpit/Predavanja/L13-textures.pdf
RG/Kolokviji-Izpit/Predavanja/L12-animation.pdf
RG/Kolokviji-Izpit/Predavanja/L2-transformations.pdf
RG/Kolokviji-Izpit/Predavanja/L3-projection.pdf
RG/Kolokviji-Izpit/Predavanja/L4-curves&patches.pdf
RG/Kolokviji-Izpit/Predavanja/L6-colour.pdf
RG/Kolokviji-Izpit/Predavanja/L7-shading.pdf
RG/Kolokviji-Izpit/Predavanja/L8-advancedShading.pdf
RG/Kolokviji-Izpit/Predavanja/L9-synflocks.pdf
