
.vs/FRI-2Letnik/v15/.suo
.vs/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.class
AiPS1/Naloga1/src/Naloga1.java
AiPS1/out/production/AiPS1/Naloga0.class
AiPS1/out/production/AiPS1/PrviIziv.class
AiPS1/src/Naloga1.java
